/*-----------------------------------------------------------------*/

:root {
    --font : D2Coding;
    --color01 : lightgray;
    --color02 : gray;
}

/*-----------------------------------------------------------------*/
header, nav, section, footer {
    width: 100%;
    position: relative;
}

header {
    height: 120px;
}

#search {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 560px;
    transform: translate(-50%, -50%);
}

#search * {
    float: left;
}

#search .title {
    height: 40px;
    width: 100px;
    font-size: 40px;
    font-family: var(--font);
}

#search > input {
    box-sizing: border-box;
    padding: 10px;
    height: 40px;
}

#search > .text{
    width: 400px;
}

#search > .submit{
    width: 60px;
}

#login {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    text-decoration: none;
}

nav {
    height: 50px;
    background: var(--color01);
}

nav > .menu-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 50px;
    display: flex;
}

nav > .menu-container > .menu {
    width: 20%;
    height: 50px;
    font-size: 20px;
    font-family: var(--font);
    text-align: center;
    line-height: 50px;
    align-content: space-between;
    justify-content: center;
    min-width: 130px;
}

nav > .menu-container > .menu:hover {
    color: var(--color02);
}

section {
    height: 2100px;
}

section > .text_today {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--font);
    font-size: 25px;
    text-align: center;
}

#today {
    position: absolute;
    width: 1200px;
    height: 240px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

#today .list {
    text-align: center;
    line-height: 240px;
    width: 400px;
    height: 240px;
}

#today .list01, .list03, .list05 {
    background-color: dimgray;
}

#today .list02, .list04, .list06 {
    background-color: gray;
}

#main-recipes {
    top: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    height: 1600px;
}

#main-recipes > div {
    float: left;
    width: 380px;
    height: 380px;
    margin: 10px;
    background-color: lightgray;
}

section > .text_main-recipes {
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--font);
    font-size: 25px;
    text-align: center;
}

footer {
    background: var(--color02);
    height: 50px;
}

footer > p {
    position: absolute;
    color: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}














