
section {
    position: relative;
}

#login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 500px;
}

#login-container > .title {
    font-size: 40px;
    font-family: D2Coding;
    text-align: center;
    margin-bottom: 40px;
}

input {
    height: 50px;
    border: 1px solid lightgray;
    color: #262626;
    font-size: 18px;
    box-sizing: border-box;
    padding: 15px;
    font-family: var(--font);
}

#pwd {
    top: 156px;
}

input::placeholder {
    color: lightgray;
    font-family: D2Coding;
    font-size: 18px;
}

section > form > label > input {
    position: absolute;
    width: 330px;
    right: 0;
}

label {
    position: absolute;
    font-size: 18px;
    font-family: D2Coding;
    color: #262626;
    width: 440px;
    height: 50px;
    text-align: left;
    line-height: 50px;
}

#login {
    position: absolute;
    top: 226px;
    right: 0;
    width: 330px;
}

section > p {
    font-size: 18px;
    font-family: D2Coding;
    position: absolute;
    left: 110px;
    top: 296px;
    margin: 0;
    color: gray;
}

section > a {
    font-size: 18px;
    font-family: D2Coding;
    position: absolute;
    top: 296px;
    right: 0;
}
































