/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/

section {
	

    }

#today_text{
text-align: center;
}

.text_today {
	display: inline-block;
    top: 35px;
    transform: translateX(-50%);
    font-family: var(--font);
    font-size: 25px;
    text-align: center;
   
}

#today {
    width: 980px;
    height: 350px;
   text-align: center;
    display: inline-block;
}

#today .list {
    text-align: center;
    line-height: 250px;
    width: 250px;
    height: 250px;
}

#today .list01, .list03, .list05 {
   
}

#today .list02, .list04, .list06 {
   
}


















