@charset "UTF-8";

	.hidden {
		display: none;
	}
	
	#myPage-container {
   		background-color: rgba(201, 252, 191, 0.2);
   		-webkit-box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.6); 
		box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.6);
   		width: 600px;
   		padding: 20px;
   		margin: 20px auto;
   		border-radius: 25px;
    }
    
	.CS2 {
	    text-align: center;
    }
    	
    .mpLabel {
    	min-width: 100px;
    	background-color: rgba(201, 242, 140, 0.8);
    	border-radius: 25px;
    	margin: 20px auto;
    	text-align: center;
    }
    	
    h1 {
    	text-align: center;
    }
    	
    button.btn.btn-primary{
    	width:350px;
    	text-align: center;
    	display: block;
    	margin: auto;
    }
    
    .vtLabel {
    	padding: 5px;
    }
    
    .vtLabel > input {
    	margin-right: 5px;
    }