@charset "UTF-8";
#qna-sidebar {
	width: 150px;
    height: 100%;
	min-height: 855px;
    padding: 5px;
    margin-bottom: 5px;
    float: left;
    border: 1px solid #bcbcbc;
}

#rightdiv {
    width: 610px;
    float: right;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #bcbcbc;
}
section {
    position: relative;
    margin: 1rem auto;
    width: 800px;
    height: 100%;
    min-height: 1000px;
    border: 1px solid black;
}

#qna-header {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
}

#qna-toolbar {
    width: 600px;
    height: 30px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #bcbcbc;
}

#qna-search {
    padding : 1px;
    float: left;
}
#board-name {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #bcbcbc;
    text-align: center;
}
#board-table {
    width: 600px;
    float: right;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #bcbcbc;
    text-align: center;
}
.page {
    width: 600px;
    padding: 5px;
    justify-content:center;
    display:flex;
    border: 1px solid orangered;
}
#writing {
    float: right;
}

#QnAcontainer {
    position: relative;
    width: 600px;
    height: 100%;
    min-height: 600px;
    padding-bottom: 20px;
    margin-left: 182px;
}

#QnAcontainer > .Qtitle {
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
}

#QnAcontainer > label{
    width: 600px;
    height: 30px;
    font-size: 16px;
}

#QnAcontainer > label > input {
    width: 511px;
    height: 30px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

#title {
    margin-left: 42px;
    margin-top: 20px;
}

#writer {
    margin-left: 10px;
}

#content {
    width: 600px;
    height: 400px;
    box-sizing: border-box;
    padding: 10px;
}

#QnAcontainer > .btn {
    margin-top: 10px;
    width: 600px;
    height: 30px;
}

#test01 {
    width: 200px;
    height: 200px;
    background-color: blue;
}



/* qna 조회 */

.viewQtitle {
    margin-bottom: 20px;
}

.viewtitle {
    margin-bottom: 10px;
}

.viewwriter {
    margin-bottom: 10px;
}

#viewQnAContent {
    width: 600px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
}


/* 답변 작성 페이지의 대상 질문 표시 */

#qex {
    width: 600px;
    padding: 0;
    border-collapse: collapse;
}

.qextr, .qextd{
    height: 30px;
    border: 1px solid black;
    padding: 10px;
    color: black;
    background-color: lightgray;
    box-sizing: border-box;
    font-size: 16px;
    text-align: left;
}

.pQtitle, .pQnum {
    color: black;
    width: 90px;
}

.qgroup, .qstep {
    display: none;
}

#listqnatitle {
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}






