@charset "UTF-8";
#qna-sidebar {
	width: 150px;
    height: 100%;
	min-height: 855px;
    padding: 5px;
    margin-bottom: 5px;
    float: left;
    border: 1px solid #bcbcbc;
}

section.content {
	background-color: #F5F5F5;
	margin:5px auto;
	width: 1000px;
	min-height: 500px;

	
}

#rightdiv {
    width: 610px;
    float: right;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #bcbcbc;
}
section {
    position: relative;
    margin: 1rem auto;
    width: 800px;
    height: 100%;
    min-height: 1000px;
    border: 1px solid black;
}

#qna-header {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
}

#qna-toolbar {
    width: 600px;
    height: 30px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #bcbcbc;
}

#qna-search {
    padding : 1px;
    float: left;
}
#board-name {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #bcbcbc;
    text-align: center;
}
#board-table {
    width: 600px;
    float: right;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #bcbcbc;
    text-align: center;
}
.page {
    width: 600px;
    padding: 5px;
    justify-content:center;
    display:flex;
    border: 1px solid orangered;
}
#writing {
    float: right;
}

#QnAcontainer {
    position: relative;
    width: 600px;
    height: 100%;
    min-height: 600px;
    padding-bottom: 20px;
    margin-left: 182px;
}

#QnAcontainer > .Qtitle {
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
}

#QnAcontainer > label{
    width: 600px;
    height: 30px;
    font-size: 16px;
}

#QnAcontainer > label > input {
    width: 511px;
    height: 30px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

#title {
    margin-left: 42px;
    margin-top: 20px;
}

#writer {
    margin-left: 10px;
}

#content {
    width: 600px;
    height: 400px;
    box-sizing: border-box;
    padding: 10px;
}

#QnAcontainer > .btn {
    margin-top: 10px;
    width: 600px;
    height: 30px;
}

#test01 {
    width: 200px;
    height: 200px;
    background-color: blue;
}



/* qna 조회 */

.viewQtitle {
    margin-bottom: 20px;
}

.viewtitle {
    margin-bottom: 10px;
}

.viewwriter {
    margin-bottom: 10px;
}

#viewQnAContent {
    width: 600px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;
}


/* 답변 작성 페이지의 대상 질문 표시 */

#qex {
    width: 600px;
    padding: 0;
    border-collapse: collapse;
}

.qextr, .qextd{
    height: 30px;
    border: 1px solid black;
    padding: 10px;
    color: black;
    background-color: lightgray;
    box-sizing: border-box;
    font-size: 16px;
    text-align: left;
}

.pQtitle, .pQnum {
    color: black;
    width: 90px;
}

.qgroup, .qstep {
    display: none;
}

#listqnatitle {
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}

header nav {
	background:#5283de; 
	width:100%; 
	margin-top:40px;
}

/* ul태그의 가운데정렬 */
ul.main-nav {
	/* width:80%; */
	display:table;
	padding:0px;
	margin:auto;
}

ul.main-nav li { 
	list-style-type: none; 
	width: 8em; 
	height: 2em;
	float: left; 
	text-align: center; 
	font-family: "휴먼모음T", sans-serif; 
	border-left: 1px #00bcd4 solid;
	background-color: #5283de; 
}

ul.main-nav li:last-of-type {
	border-right:1px #00bcd4 solid;
}

ul.main-nav li a {
	/*a태그의 display기본값은 inline임*/
	display: block;
	padding:.5em;
	text-decoration: none;
	color: #292929;
}

/* hover시 배경색 변경 */

ul.main-nav li:hover{
	background-color: #3300ff;
}

ul.main-nav li:hover > a{
	color:#FFF; /* 글자색*/
}






